[submodule "extra-cmake-modules"]
	path = extra-cmake-modules
	url = git@git.kde.org:extra-cmake-modules
[submodule "kitemmodels"]
	path = kitemmodels
	url = git@git.kde.org:kitemmodels
[submodule "kcoreaddons"]
	path = kcoreaddons
	url = git@git.kde.org:kcoreaddons
[submodule "kguiaddons"]
	path = kguiaddons
	url = git@git.kde.org:kguiaddons
[submodule "kwidgetsaddons"]
	path = kwidgetsaddons
	url = git@git.kde.org:kwidgetsaddons
[submodule "kjobwidgets"]
	path = kjobwidgets
	url = git@git.kde.org:kjobwidgets
[submodule "kdbusaddons"]
	path = kdbusaddons
	url = git@git.kde.org:kdbusaddons
[submodule "kconfig"]
	path = kconfig
	url = git@git.kde.org:kconfig
[submodule "kcompletion"]
	path = kcompletion
	url = git@git.kde.org:kcompletion
[submodule "kauth"]
	path = kauth
	url = git@git.kde.org:kauth
[submodule "kcodecs"]
	path = kcodecs
	url = git@git.kde.org:kcodecs
[submodule "ki18n"]
	path = ki18n
	url = git@git.kde.org:ki18n
[submodule "kconfigwidgets"]
	path = kconfigwidgets
	url = git@git.kde.org:kconfigwidgets
[submodule "kitemviews"]
	path = kitemviews
	url = git@git.kde.org:kitemviews
